<div id="content">
    <button onclick="login()">Login</button><button onclick="logout()">Logout</button>
    <h1 id = "user_name">Logined us: My name</h1>
    <input id="fileInput" type="file">
    <br/>
    <input id="session_key" type="text" placeholder="session key" />

    <button onclick="joinSession()">Join session</button>
    <button onclick="createSession()">Create session</button>
    <button onclick="processCheck()">Process check</button>
    <button id="someButton">Redirect test</button>   
    <br>

        <h2 id = "session_data">Server response</h2>
    <div id = "messages"></div>
</div>