<!-- Блок разработчиков -->
<div class="card developers-block">
    <h2 class="card-title"><i class="fas fa-code"></i> Разработчики</h2>
    <div class="developers-list">
        <div class="developer">
            <i class="fas fa-server"></i> Backend: Артем Карандашов
        </div>
        <div class="developer">
            <i class="fas fa-server"></i> Backend: Антон Сибилев
        </div>
        <div class="developer">
            <i class="fas fa-laptop-code"></i> Frontend: Смородин Алексей
        </div>
        <div class="developer">
            <i class="fas fa-laptop-code"></i> Frontend: Смирнов Михаил
        </div>
    </div>
</div>