<!-- Блок QR кода -->
<div class="card qr-block">
    <h2 class="card-title"><i class="fas fa-qrcode"></i> Приглашение участников</h2>
    <div class="qr-code-container">
        <div class="qr-code" id="qrContainer">
            <img alt="QR код">
        </div>
        <p class="qr-instruction">Отсканируйте QR-код для присоединения</p>
        <div id = 'linkContainer'>
            <p class="qr-instruction">Тут будет ссылка!</p>
        </div>
    </div>
    <div class="confirmBtn-wrapper">
        <button class="btn btn-primary btn-block" id="continueToDistribution">
            <i class="fas fa-check"></i> Продолжить
        </button>
    </div>
</div>