<!-- Блок ввода имени --> 
<div class="card username-block" id="usernameBlock">
    <h2 class="username-card-header">
        <i  style="color:var(--primary)" class="fas fa-user"></i> Ваше имя
    </h2>

    <div class="username-form-container">
        <div class="username-input-group">
            <label for="usernameInput" class="username-input-label">Как вас зовут?</label>
            <input type="text" id="usernameInput" class="username-input-field" placeholder="Введите ваше имя">
        </div>

        <button class="btn btn-primary btn-block" id="saveUsernameBtn">
            <i class="fas fa-check"></i> Продолжить
        </button>
    </div>
</div>